<!DOCTYPE html>
<html>

<head>
  <%include layui-head.ejs%>
</head>

<body>

  <div class="layui-layout layui-layout-admin">
    <!-- 顶部栏 -->
    <%include layui-header.ejs%>
    <!-- 顶部栏 -->
    <!-- 中间内容区 -->
    <div style="padding: 15px; overflow-y: auto;">
      <div class="layui-container">
        <div class="layui-row">
          <div class="layui-col-md12">
            <div class="system-description">
              <p>业务适用方发起请求协助，可指定一个或多个协助人，问题会发送邮件和短信至被请求协助</p>
            </div>
          </div>
        </div>
        <div class="layui-row">
          <div class="layui-col-md9 layui-col-md-offset1">
            <form class="layui-form" action="">
              <input type="hidden", name="user_agent" value="<%= userAgent%>">
              <div class="layui-form-item">
                <label class="layui-form-label">标题<span class="required">*</span></label>
                <div class="layui-input-block">
                  <input type="text" name="title" id="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">问题描述<span class="required">*</span></label>
                <div class="layui-input-block">
                  <textarea id="desc" name="desc" required lay-verify="required" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">紧急程度</label>
                <div class="layui-input-block">
                  <input type="radio" name="urgency_level" value="0" title="2小时内解决">
                  <input type="radio" name="urgency_level" value="1" title="4小时内解决" checked>
                  <input type="radio" name="urgency_level" value="2" title="今日内解决">
                  <input type="radio" name="urgency_level" value="3" title="明日内解决">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">协助人</label>
                  <div class="layui-input-inline" style="width: 100px;">
                    <select name="first_help_people" lay-verify="" lay-search>
                      <option value="">第一协助人</option>
                      <% assistancePeople.forEach(function(item, index){%>
                      <option value="<%= item.id%>"><%= item.user_name%></option>
                      <%})%>
                    </select>
                  </div>
                  <div class="layui-input-inline" style="width: 100px;">
                    <select name="second_help_people" lay-verify="" lay-search>
                      <option value="">第二协助人</option>
                      <% assistancePeople.forEach(function(item, index){%>
                      <option value="<%= item.id%>"><%= item.user_name%></option>
                      <%})%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">问题来源页面<span class="required">*</span></label>
                <div class="layui-input-block">
                  <input type="text" name="referer" id="referer" value="<%= referer%>" required lay-verify="required" placeholder="问题来源页面url" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn J-submit" lay-submit lay-filter="formSubmit">立即提交</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="layui-row">
          <div class="layui-col-md9 layui-col-md-offset1">
            <ul class="layui-timeline">
              <% assistancies.forEach(function(item, index){%>
              <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                  <h3 class="layui-timeline-title"><%=item.title%></h3>
                  <p>
                    <%- item.description%>
                  </p>
                </div>
              </li>
              <%})%>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 中间内容区 -->

    <script>
      layui.use(['layedit', 'jquery', 'layer', 'form'], function () {
        var layedit = layui.layedit,
          layer = layui.layer,
          form = layui.form,
          $ = layui.jquery;
        var editnum = layedit.build('desc', {
          uploadImage: {
            url: '/uploadImg'
          }
        }); //建立编辑器
        form.on('submit(formSubmit)', function(data){
          console.log(JSON.stringify(data.field))
          // return false;
          var datas = data.field;
          var content = layedit.getContent(editnum);
          $.post("/admin/help", { 
            title: datas.title, 
            desc: content,
            first_help_people: datas.first_help_people,
            second_help_people: datas.second_help_people,
            referer: datas.referer
          }, function (data) {
            layer.msg(data.msg);
          })
          return false;
        })
      });
    </script>
</body>

</html>