<!DOCTYPE html>
<html>

<head>
  <%include layui-head.ejs%>
</head>

<body>

  <div class="layui-layout layui-layout-admin">
    <!-- 顶部栏 -->
    <%include layui-header.ejs%>
    <!-- 顶部栏 -->
    <!-- 中间内容区 -->
    <div style="padding: 15px; overflow-y: auto;">
      <div class="layui-container">
        <div class="layui-row">
          <div class="layui-col-md12">
            <div class="system-description">
              <p>业务适用方发起请求协助，可指定一个或多个协助人，问题会发送邮件和短信至被请求协助</p>
            </div>
          </div>
        </div>
        <div class="layui-row">
          <div class="layui-col-md9 layui-col-md-offset1">
            <form class="layui-form" action="">
              <input type="hidden", name="user_agent" value="<%= userAgent%>">
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">问题描述<span class="required">*</span></label>
                <div class="layui-input-block">
                  <textarea id="description" name="description" placeholder="请输入内容" class="layui-textarea" required lay-verify="required" maxlength="255"></textarea>
                </div>
                <div class="layui-input-block">
                  <div class="tool">
                      <a href="javascript:void(0)"><i class="layui-icon" style="font-size: 30px; color: #FF5722;">&#xe60d;</i>图片</a>
                      <a href="javascript:void(0)"><i class="layui-icon" style="font-size: 30px; color: #FF5722;">&#xe60c;</i>图片</a>
                      <a href="javascript:void(0)"><i class="layui-icon" style="font-size: 30px; color: #FF5722;">&#xe660;</i>图片</a>
                  </div>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">紧急程度</label>
                <div class="layui-input-block">
                  <input type="radio" name="urgency_level" value="0" title="2小时内解决">
                  <input type="radio" name="urgency_level" value="1" title="4小时内解决" checked>
                  <input type="radio" name="urgency_level" value="2" title="今日内解决">
                  <input type="radio" name="urgency_level" value="3" title="明日内解决">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">协助人</label>
                  <div class="layui-input-inline" style="width: 100px;">
                    <select name="first_help_people" lay-verify="" lay-search>
                      <option value="">第一协助人</option>
                      <% assistancePeople.forEach(function(item, index){%>
                      <option value="<%= item.id%>"><%= item.user_name%></option>
                      <%})%>
                    </select>
                  </div>
                  <div class="layui-input-inline" style="width: 100px;">
                    <select name="second_help_people" lay-verify="" lay-search>
                      <option value="">第二协助人</option>
                      <% assistancePeople.forEach(function(item, index){%>
                      <option value="<%= item.id%>"><%= item.user_name%></option>
                      <%})%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">问题来源页面<span class="required">*</span></label>
                <div class="layui-input-block">
                  <input type="text" name="referer" id="referer" value="<%= referer%>" required lay-verify="required" placeholder="问题来源页面url" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn J-submit" lay-submit lay-filter="formSubmit">立即提交</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="layui-row">
          <div class="layui-col-md9 layui-col-md-offset1">
            <% assistanceInfos.forEach(function(item, index){%>
            <article class="article">
              <header>
                <p><b><%=item.user_name%></b></p>
                <time class="time-text"><%=item.created_at%></time>
              </header>
              <section>
                <%=item.description%>
              </section>
              <hr>
              <ul>
                <li><a href="javascript:void(0)" id="J-up" data-id="<%=item.id%>"><span><i class="layui-icon">&#xe756;</i>顶起</span></a></li>
                <li><a href="javascript:void(0)" id="J-comment" data-id="<%=item.id%>"><span><i class="layui-icon">&#xe63a;</i>评论</span></a></li>
                <li><a href="javascript:void(0)" id="J-del" data-id="<%=item.id%>"><span><i class="layui-icon">&#xe640;</i>删除</span></a></li>
                <li><a href="javascript:void(0)" id="J-transform" data-id="<%=item.id%>"><span><i class="layui-icon">&#xe756;</i>转发</span></a></li>
              </ul>
            </article>
            <%})%>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- 中间内容区 -->
  <div class="layer_notice" style="display:none;">
    <ul style="font-size:24px;padding:10px;">
      <!-- <li><a href="">sdkjhgd</a></li>
      <li><a href="">sdkjhgd</a></li>
      <li><a href="">sdkjhgd</a></li> -->
    </ul>
  </div>
    <script>
      layui.use(['jquery', 'layer', 'form'], function () {
        var layedit = layui.layedit,
          layer = layui.layer,
          form = layui.form,
          $ = layui.jquery;
        form.on('submit(formSubmit)', function(data){
          console.log(JSON.stringify(data.field))
          var datas = data.field;
          $.post("/admin/help", {
            description: datas.description,
            first_help_people: datas.first_help_people,
            second_help_people: datas.second_help_people,
            referer: datas.referer
          }, function (data) {
            layer.msg(data.msg);
          })
          return false;
        });
        //删除协助
        $(".article").on("click", "#J-del", function(){
          var id = $(this).data("id");
          console.log(id)
          $.ajax({
            url: "/admin/help/"+id,
            type: "delete",
            success: function(data){
              layer.msg(data.msg);
            }
          })
        })
        //监听@
        $("#description").on("input propertychange", function(e){
          var value = $(this).val();
          //正则：/@[^\s\n]*[\s$]+/g.test(value)
          //匹配@开头的字符串
          if (/@[^\s\n]*/g.test(value)) {
            console.log(">>>>>>>>", value)
            var user_name = value.replace(/[^\s\n]*@/, '');
            console.log("截取后：", user_name)
            if (user_name) {
              $.get("/admin/assistance-peolpe", {
                user_name: user_name
              }, function (data) {
                console.log(data)
                var html = "";
                data.assistancePeople.forEach(function(element) {
                  html +='<li><a href="javascript:void(0)">'+element.user_name+'</a></li>'
                }, this);
                $(".layer_notice ul").empty().append(html);
                layer.open({
                  type: 1,
                  shade: false,
                  title: false, //不显示标题
                  content: $('.layer_notice'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                });
              })
            }
          }
        })
      });
    </script>
</body>

</html>