<!DOCTYPE html>
<html>

<head>
  <%include layui-head.ejs%>
</head>

<body>

  <div class="layui-layout layui-layout-admin">
    <!-- 顶部栏 -->
    <%include layui-header.ejs%>
    <!-- 顶部栏 -->
    <!-- 中间内容区 -->
    <div style="padding: 15px; overflow-y: auto;">
      <div class="layui-container">
        <div class="layui-row">
          <div class="layui-col-md12">
            <div class="system-description">
              <p>业务适用方发起请求协助，可指定一个或多个协助人，问题会发送邮件和短信至被请求协助</p>
            </div>
          </div>
        </div>
        <div class="layui-row">
          <div class="layui-col-md7 layui-col-md-offset1">
            <form class="layui-form" action="">
              <input type="hidden", name="user_agent" value="<%= userAgent%>">
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">问题描述<span class="required">*</span></label>
                <div class="layui-input-block">
                  <textarea id="description" name="description" placeholder="请输入内容" class="layui-textarea" required lay-verify="required" maxlength="255"></textarea>
                </div>
                <div class="layui-input-block">
                  <div class="tool">
                      <a href="javascript:void(0)"><i class="layui-icon" style="font-size: 30px; color: #FF5722;">&#xe60d;</i>图片</a>
                  </div>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">紧急程度</label>
                <div class="layui-input-block">
                  <input type="radio" name="urgency_level" value="0" title="2小时内解决">
                  <input type="radio" name="urgency_level" value="1" title="4小时内解决" checked>
                  <input type="radio" name="urgency_level" value="2" title="今日内解决">
                  <input type="radio" name="urgency_level" value="3" title="明日内解决">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">协助人</label>
                  <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="first_help_people" placeholder="第一协助人" autocomplete="off" class="layui-input">
                  </div>
                  <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="second_help_people" placeholder="第二协助人" autocomplete="off" class="layui-input">
                  </div>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">问题来源页面<span class="required">*</span></label>
                <div class="layui-input-block">
                  <input type="text" name="referer" id="referer" value="<%= referer%>" required lay-verify="required" placeholder="问题来源页面url" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn J-submit" lay-submit lay-filter="formSubmit">立即提交</button>
                </div>
              </div>
            </form>
            <% assistanceInfos.forEach(function(item, index){%>
              <article class="article">
                <header>
                  <p><b><%=item.user_name%></b></p>
                  <time class="time-text"><%=item.created_at%></time>
                </header>
                <section>
                  <p><%=item.description%></p>
                  <p>
                    <% item.imageArr.forEach(function(img){%>
                    <img src="<%= img%>"></img>
                    <%})%>
                  </p>
                </section>
                <hr>
                <ul>
                  <li><a href="javascript:void(0)" id="J-up" data-id="<%=item.id%>"><span><i class="layui-icon">&#xe756;</i>顶起</span></a></li>
                  <li><a href="javascript:void(0)" id="J-comment" data-id="<%=item.id%>"><span><i class="layui-icon">&#xe63a;</i>评论</span></a></li>
                  <li><a href="javascript:void(0)" id="J-del" data-id="<%=item.id%>"><span><i class="layui-icon">&#xe640;</i>删除</span></a></li>
                  <li><a href="javascript:void(0)" id="J-transform" data-id="<%=item.id%>"><span><i class="layui-icon">&#xe756;</i>转发</span></a></li>
                </ul>
              </article>
              <%})%>
          </div>
          <div class="layui-col-md4">
            <div class="asider">
              <p>XSS攻击全称跨站脚本攻击，是为不和层叠样式表(Cascading Style Sheets, CSS)的缩写混淆，
                故将跨站脚本攻击缩写为XSS，XSS是一种在web应用中的计算机安全漏洞，它允许恶意web用户将代码植入到
                提供给其它用户使用的页面中。从而达到攻击的目的。如，盗取用户Cookie、破坏页面结构、重定向到其它网站等。
                  XSS攻击案例：
                  
                  新浪微博遭受XX攻击：
                  
                  http://soft.yesky.com/security/156/30179156.shtml
                  
                  人人网遭受XSS攻击：
                  
                  http://www.freebuf.com/articles/6295.html
                  简单的测试方法：
                  
                  所有提交数据的地方都有可能存在XSS，可以用最简单脚本进行测试：

                  XSS攻击类型
                  
                  反射型：
                  
                  黑客构造一个包含XSS代码的URL（服务器中没有这样的页面和内容），诱导或等待用户去点击链接，才能触发XSS代码，达到劫持访问、获取cookies的目的。一般容易出现在搜索页面。 例如：https://m.wuage.com/search/self-shop?memberId=4lv8ll4g&keywords=x%22alert(1)%22&psa=M3.s10.0.j4 （此漏洞已经修复，请勿再测，造成访问压力。）
                  
                  图片描述
                  
                  持久型：
                  
                  如果黑客可以将脚本代码通过发布内容（如发论坛、博文、写留言等）的方式发布后，存储在服务端的数据库或者文件中，成为某个url正常的页面的一部分，所有访问这个页面的所有用户都是受害者，看似正常的url，则其页面已经包含了xss代码，持久型XSS更具有隐蔽性，带来的危害也更大
                  
                  例如：在页面中不容注意的地方加一段js脚本（如下），当页面被打开时，页面会加载这段脚本，加系统登录的cookies发送到远端hacker的手中。
                  
                  DOM型：
                  
                  图片描述
                  DOM就是一个树状的模型，你可以编写Javascript代码根据DOM一层一层的节点，去遍历/获取/修改对应的节点，
                  对象，值。dom xss并不复杂，他也属于反射型xss的一种(，domxss取决于输出位置，并不取决于输出环境，
                  因此domxss既有可能是反射型的，也有可能是存储型的)，简单去理解就是因为他输出点在DOM，所以在道哥的
                  《白帽子讲Web安全里》也有详细介绍。xss代码可能是简短的插入script节点的语句，载入来自第三方域的含有
                  具体恶意代码的脚本。具体的恶意代码，常见的行为是读取cookie，构造例如一个img标签，将其src属性指向
                  恶意第三方网站，将cookie的内容作为参数附在src的url上，这样黑客就能在其网站上获得你的cookie信息，
                  这就是所谓的cookie劫持。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 选择协助人模态框 -->
  <div id="view">
    <div class="layui-row">
      <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
          <input type="text" name="J-search-name" required  lay-verify="required" placeholder="请输入姓名搜索" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <table class="layui-table">
          <colgroup>
            <col width="150">
            <col width="200">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>姓名</th>
              <th>负责模块</th>
              <th>操作</th>
            </tr> 
          </thead>
          <tbody class="J-assistance-people-list">
            
          </tbody>
        </table>
      </div>
    </form>
  </div>
  
  <script>
    layui.use(['jquery', 'layer', 'form'], function () {
      var layedit = layui.layedit,
        layer = layui.layer,
        form = layui.form,
        laytpl = layui.laytpl,
        $ = layui.jquery;
      form.on('submit(formSubmit)', function(data){
        console.log(JSON.stringify(data.field))
        var datas = data.field;
        $.post("/platform/help", {
          description: datas.description,
          first_help_people: datas.first_help_people,
          second_help_people: datas.second_help_people,
          referer: datas.referer
        }, function (data) {
          layer.msg(data.msg);
        })
        return false;
      });
      //删除协助
      $(".article").on("click", "#J-del", function(){
        var id = $(this).data("id");
        console.log(id)
        $.ajax({
          url: "/platform/help/"+id,
          type: "delete",
          success: function(data){
            layer.msg(data.msg);
          }
        })
      });
      //选择协助人
      $("input[name=first_help_people]").on("click", function(){
        layer.open({
          type: 1,
          title: "筛选协助人",
          skin: 'layui-layer-rim', //加上边框
          area: ['520px', '340px'], //宽高
          content: $('#view')
        })
      });

      $("input[name=J-search-name]").on("change", function(){
        var data = { //数据
          "list":[{"user_name":"弹层","feature":"layer layer layer layer layer layer layer layer layer layer","site":"layer.layui.com"},
          {"user_name":"表单","feature":"form"},{"user_name":"弹层","feature":"layer","site":"layer.layui.com"},
          {"user_name":"弹层","feature":"layer","site":"layer.layui.com"},
          {"user_name":"弹层","feature":"layer","site":"layer.layui.com"},
          {"user_name":"弹层","feature":"layer","site":"layer.layui.com"},]
        }
        $.get("/platform/assistance-peolpe/features", {
          user_name: $(this).val()
        }, function (datas) {
          var tpl = $(searchPeople).html()
          , r = Handlebars.compile(tpl)
          , d = r(data);
          $(".J-assistance-people-list").html(d);
          })
      });

      //监听@
      $("#description").on("input propertychange", function(e){
        var value = $(this).val();
        //正则：/@[^\s\n]*[\s$]+/g.test(value)
        //匹配@开头的字符串
        if (/@[^\s\n]*/g.test(value)) {
          console.log(">>>>>>>>", value)
          var user_name = value.replace(/[^\s\n]*@/, '');
          console.log("截取后：", user_name)
          if (user_name) {
            $.get("/platform/assistance-peolpe", {
              user_name: user_name
            }, function (data) {
              console.log(data)
              var html = "";
              data.assistancePeople.forEach(function(element) {
                html +='<li><a href="javascript:void(0)">'+element.user_name+'</a></li>'
              }, this);
              $(".layer_notice ul").empty().append(html);
              layer.open({
                type: 1,
                shade: false,
                title: false, //不显示标题
                content: $('.layer_notice'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
              });
            })
          }
        }
      })
    });
  </script>
  <script id="searchPeople" type="text/x-handlebars-template">
    {{#each list}}
    <tr>
      <td>{{ user_name }}</td>
      <td>{{ feature }}</td>
      <td><button class="layui-btn layui-btn layui-btn-small">选择</button></td>
    </tr>
    {{/each}}
  </script>
</body>

</html>