<!DOCTYPE html>
<html>

<head>
  <%- include('layui-head')%>
</head>

<body>

  <div class="layui-layout layui-layout-admin">
    <!-- 顶部栏 -->
    <%- include('layui-header')%>
    <!-- 顶部栏 -->
    <!-- 中间内容区 -->
    <div style="padding: 15px; overflow-y: auto;">
      <div class="layui-container">
        <div class="layui-row">
          <div class="layui-col-md7 layui-col-md-offset1">
            <% assistanceInfos.forEach(function(item, index){%>
              <article class="article">
                <header>
                  <p><b><%=item.user_name%></b></p>
                  <time class="time-text"><%=item.created_at%></time>
                </header>
                <section>
                  <p><%=item.description%></p>
                  <p>
                    <% item.imageArr.forEach(function(img){%>
                    <img src="<%= img%>"></img>
                    <%})%>
                  </p>
                </section>
                <hr>
                <ul>
                  <li><a href="javascript:void(0)" id="J-up" data-id="<%=item.id%>"><span><i class="layui-icon">&#xe756;</i>顶起</span></a></li>
                  <li><a href="javascript:void(0)" id="J-comment" data-id="<%=item.id%>"><span><i class="layui-icon">&#xe63a;</i>评论</span></a></li>
                  <li><a href="javascript:void(0)" id="J-del" data-id="<%=item.id%>"><span><i class="layui-icon">&#xe640;</i>删除</span></a></li>
                  <li><a href="javascript:void(0)" id="J-transform" data-id="<%=item.id%>"><span><i class="layui-icon">&#xe756;</i>转发</span></a></li>
                </ul>
              </article>
			  <%})%>
			<div id="page"></div>
          </div>
          <div class="layui-col-md4">
            <%- include('layui-asider')%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 选择协助人模态框 -->
  <div id="view" style="display: none;">
    <div class="layui-row">
      <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
          <input type="text" name="J-search-name" required  lay-verify="required" placeholder="请输入姓名搜索" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <table class="layui-table">
          <colgroup>
            <col width="150">
            <col width="200">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>姓名</th>
              <th>负责模块</th>
              <th>操作</th>
            </tr> 
          </thead>
          <tbody class="J-helper-list">
            
          </tbody>
        </table>
      </div>
    </form>
  </div>
  
  <script>
    layui.use(['jquery', 'layer', 'form', 'laypage'], function () {
      var layedit = layui.layedit,
        layer = layui.layer,
        form = layui.form,
        laytpl = layui.laytpl,
        $ = layui.jquery,
		laypage = layui.laypage;
	
	var next = parseInt('<%=currentIndex%>')+1;
	var prev = parseInt('<%=currentIndex%>')-1;
	//执行一个laypage实例
	laypage.render({
		elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
		, limit: 5
		, curr: '<%=currentIndex%>'
		, count: '<%=total%>' //数据总数，从服务端得到
		, hash: true
		, jump: function(obj, first){
			//首次不执行
			if(!first){
				location.href = '/platform/assistance-list?pageIndex='+obj.curr;
			}
		}
	});
      //删除协助
      $(".article").on("click", "#J-del", function(){
        var id = $(this).data("id");
        console.log(id)
        $.ajax({
          url: "/platform/help/"+id,
          type: "delete",
          success: function(data){
            layer.msg(data.msg);
          }
        })
      });
    });
  </script>
</body>

</html>